<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
<form style="width: 500px;margin: 200px auto" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name</label>
    <input type="text"
           class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           name="name"
           value="{{ student.name }}"
    >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">math</label>
    <input type="text"
           class="form-control"
           id="exampleInputPassword1"
           name="math"
           value="{{ student.math }}"
    >
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">art</label>
    <input type="text"
           class="form-control"
           id="exampleInputPassword1"
           name="art"
           value="{{ student.art }}"
    >
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">other</label>
    <input type="text"
           class="form-control"
           id="exampleInputPassword1"
           name="other"
           value="{{ student.other }}"
    >
  </div >
    <div style="display: flex;  justify-content: center;  align-items: center;margin: 20px auto">
        <button type="submit" class="btn btn-primary">save</button>
        <div style="width: 150px">

        </div>
        <button type="submit" class="btn btn-primary"><a href="/admin" style="color: black">cancel</a> </button>
    </div>

</form>
</body>
</html>